#title-tool {
	font:16px arial;
}

.backgrounds {
	height:40px;
	width:40px;
	position:relative;
	float:left;
	border:1px solid;
	margin-left:10px;
	cursor:pointer;
	background-size:40px 40px;
}

.characters {
	height:150px;
	width:80px;
	position:relative;
	float:left;
	margin-left:10px;
	cursor:pointer;
	background-size:80px 150px;
}

.characters-clone {
	height:175px;
	width:100px;
	position:absolute;
	float:left;
	cursor:pointer;
	z-index:-10;
	background-size:100px 175px;
}

#thought-icon, #speech-icon, #caption-icon {
	position:relative;
	float:left;
	height:68px;
	background-image:url("../images/bubbles-selector.png");
}

#thought-icon {
	width:116px;
	background-position: 0px 0px;

 }
 
#speech-icon {
	width:116px;
	background-position: -116px 0px;
 }

#caption-icon {
	width:140px;
	background-position: -232px 0px;
}
 
.balloons {
	cursor:pointer;
}

#character-preview-area, .character-preview, #preview-area, .bubble-preview-span, #caption {
	position:relative;
	float:left;
	margin-left:20px;
}	

#character-preview-area, #preview-area {
	margin-top:-55px;
	display:none;
	height:215px;
}

.bubble-clone{
	cursor:pointer;
	position:absolute;
	z-index:-5;
}
 
/* Pad and format text bubbles */
#q1 {
	display:inline-block;
	word-break:break-all;
	padding: 0px 3px;
	width:145px;
	white-space:pre-wrap;
}

#caption {
	font:13px 'Walter Turncoat';
	line-height:0.8;
	text-transform:lowercase;
	overflow:auto;
	height:40px;
}

/* Character menu styles */

#character-icon-1, #character-icon-2, #character-icon-3, #character-icon-4, #character-icon-5 {
	position:relative;
	float:left;
	width:110px;
	height:100px;
	background-image:url("../images/character-selector.png");
}

#character-icon-1 {	
	background-position: 0px 0px;
}
 
#character-icon-2 {
	background-position: -110px 0px;
}

#character-icon-3 {
	background-position: -220px 0px;
}

#character-icon-4 {
	background-position: -330px 0px;
}

#character-icon-5 {
	background-position: -440px 0px;
}

.selectable-characters {
	cursor:pointer;
}

.character-1 {
	height:120px;
	width:170px;
	background-image:url("../images/sittingkitty.png");
	background-size:170px 120px;
}

.character-2 {
	background-image:url("../images/kittyback.png");
	width:150px;
	height:98px;
	background-size:150px 98px;
}

.character-3 {
	background-image:url("../images/sleepingkitty.png");
	height:100px;
	width:170px;
	background-size:170px 100px;
}
	
.character-4 {
	height:73px;
	width:175px;
	background-image:url("../images/walkingkitty.png");
	background-size:175px 73px;
}

.character-5 {
	height:173px;
	width:225px;
	background-image:url("../images/angrykitty.png");
	background-size:225px 173px;
}

/* Background styles */

#blank-bg {
	background-image:url("../images/blank-bg.png");
}

#indoor-bg {
	background-image:url("../images/bg1.png");
}

#outdoor-bg {
	background-image:url("../images/bg2.png");	
}